
/* 1 las Custom Properties*/
:root {
  --first-color: #bf318b;
  --first-alpha-color: rgb(255 0 160 / 55%);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  --card-background-color: #191919;
  --background-imput-color: rgb(150 168 185);
  --principal-color-gradient: linear-gradient(
    90deg, rgba(57,56,77,1) 0%, rgba(121,41,139,1) 35%, rgba(193,49,139,1) 100%);
}

/*******************2 el reset*/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  color: var(--white-color);
}

a {
  color: var(--white-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}


h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/******************3 por tercer lugar tendriamos el codigo de todos nuestros components (si en otro proyecto utilizas el mismo componente podrias reutilizarlo)*/

.contact-form{
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: var(--background-imput-color);
}
.contact-form > *{
  padding: .5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form input,
.contact-form textarea{
  font-size: .85rem;
  font-family: var(--font);
}
.contact-form input{
  border: 0;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
  outline: 0;
}
.contact-form textarea{
  border: thin solid var(--gray-dark-color);
  resize: none;
}
.contact-form input[type="submit"]{
 margin-top: 0;
 cursor: pointer;
 transition: all .5s ease-out;
}
.contact-form input[type="submit"]:hover{
  opacity: .75;
}

.contact-form *::placeholder{
  color: var(--gray-color);
}
.modal#gracias:target{
 opacity: 1;
 pointer-events: auto;
}
.contact-form-response{
  padding: 1rem;
  width: 400px;
  text-align: center;
  background: var(--white-color);
}
.contact-form-response svg{
  margin-top: 2rem;
  fill: var(--first-color);
  width: 4rem;
  height: 4rem;
}

 @media  screen and (min-width:1024px) {
   .contact-form{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     column-gap: 1rem;
   }
   .contact-form input,
   .contact-form textarea{
     font-size: 1rem;
   }
   .contact-form textarea,
   .contact-form-loader{
     grid-column: span 2;
   }
   .contact-form input[type="submit"]{
     margin-left: 0;
   }
 }
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}
.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}
.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

.menu-btn {
  background-color: var(--first-color);
  outline: thin solid var(--white-color);
  border: 0;
  cursor: pointer;
}
.menu-btn svg {
  fill: var(--white-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  pointer-events: none;
  background-color: transparent;
}

.menu-is-active {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--third-color)
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}


.modal{
  position: fixed;
  z-index: 999;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  background-color: var(--black-alpha-color);

}

.modal-content{
  position:relative ;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg{
 width: 3rem;
 height: 3rem;
 fill: var(--first-color);
}

.modal[id|="trabajo"]:target{
  opacity: 1;
  pointer-events: auto;
} 


@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

.skill img {
  width: 6rem;
}

/* nuestros componentes de nuestros cards de skills */
.skill h2{
  color: white;
}

.card-skill-conteiner{
    background-color: var(--card-background-color);
    border-radius: 5%;
    padding: 2rem;
    width: 8rem;
    height: 8rem;
    display: inline-block;
    align-items: center;
    border-bottom: thin solid white;
    margin-bottom: .5rem;
}

.card-skill-conteiner svg{
  width: 4rem;
  height: 4rem;
  fill: white;
}

/****************************4 tenemos la seccion de utilities (serian clases que nos permite aplican bordes, texto derecha, color verde etc etc) esto podria llevarse de un proyecto a otro y poder reutilizarlas*/

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgb(255 255 255 / 25%);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background: linear-gradient(90deg, rgba(57,56,77,1) 0%, rgba(121,41,139,1) 35%, rgba(193,49,139,1) 100%);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.gray-scale {
  filter: grayscale(1);
}
.section {
  padding: 2rem 1rem;
}
.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--white-color);
}
.text-center {
  text-align: center;
}
.tex-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    height: 100vh;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

/**************5 finalmente despues de todo, va el site styles, seria el codigo de estilo css que ya van a ser muy particulares para este proyecto y dificilmente puedas reutilizar en otro*/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background: var(--principal-color-gradient);
  padding: 1rem;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}
.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;  
}

.portfolio-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);

}
.portfolio-card-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: .5rem;
  background: var(--first-alpha-color);
  color: var(--white-color);
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}
.portfolio-card:hover .portfolio-card-info{
  opacity: 1;
  pointer-events: auto;
}
.portfolio-card-info >  div{
  padding: 1rem;
  border: thin solid white;
  width: 100%;
  height: 100%;
}

.portfolio-modal{
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  color: var(--black-color);
}
.portfolio-modal a{
  color: var(--black-color);
}

.portfolio-modal h3{
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}
.portfolio-details{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b{
  color: var(--first-color);
}


@media screen and (min-width: 768px) {
  .portfolio > .container{
  display: grid;
  grid-template-columns: repeat(2,50%);
  }
  .portfolio .section-title{
    grid-column: span 2;
  }
  .portfolio-modal{
    flex-direction: row;
    max-width: 800px;
  }
  .portfolio-info{
    margin-left: 1rem;
    align-self: center;
  }
  .contact-cards{
    display: grid;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }
.portfolio > .container{
  grid-template-columns: repeat(3,1fr);
  }
  .portfolio .section-title{
    grid-column: span 3;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  .contact-cards{
  
    grid-template-columns: repeat(4,24%);
  }
  body > .footer{
    margin-bottom: 0;
  }  
}

.about > article {
  margin-bottom: 2rem;
}
.about article:first-child{
  background-color: var(--card-background-color);
    border-radius: 5%
}

.contact-card{
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-imput-color);
}

.contact-card > svg{
  width: 2rem;
  height: 2rem;  
  fill: var(--white-color);
}
.contact-card > small{
color: var(--white-color);
 margin-top: -1rem;
}

.social-media a{
  padding: 0 .4rem;
  text-decoration: none;
}
.social-media svg{
  fill: var(--white-color);
  width: 1.5rem;
  height: 1.5rem;
}
.about img{
  height: 300px
}
.footer{
  margin-bottom: var(--header-height);
  background: linear-gradient(90deg, rgba(57,56,77,1) 0%, rgba(121,41,139,1) 35%, rgba(193,49,139,1) 100%);
  color: var(--white-color);
  text-align: center;
  padding: .5rem;
}
